input,textarea {
  border: 1px solid rgb(255,255,255);
  width: 100%;
  border-radius: 4px;
  padding: 0 0 0 16px;
  box-sizing: border-box;
  margin-bottom: 24px;
  font-size: 16px;
  &:focus {
    outline: none;
    border: 1px solid rgba(0,0,0,0.10);
  }
}

input {
  height: 46px;
  &[type=file] {
    display: none;
  }
  &[type=submit]{
    @extend %dots_bacground;
    @extend %base_color;
    margin-top: 30px;
  }
}
textarea {
  padding-top: 16px;
  resize: none;
}