@font-face {
  font-family: 'Georgia';
  src: url('../../fonts/georgia-regular-webfont.woff2') format('woff2'),
  url('../../fonts/georgia-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'Helvetica';
  src: url('../../fonts/helveticaneue-bold-webfont.woff2') format('woff2'),
  url('../../fonts/helveticaneue-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}